<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
  <mat-card class="registerCard" style="min-height: 400px" [ngStyle]="{'min-width': smallScreen ? '300px' : '450px'}">
    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="30px">
      <div class="titleContainer">
        <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center" color="primary">
          Stwórz konto
        </mat-toolbar>
      </div>
      <form [formGroup]="registrationForm"  fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="35px">
        <mat-form-field style="min-width: 80%;">
          <input matInput placeholder="Email" [formControl]="emailFormControl">
          <mat-error *ngIf="emailFormControl.invalid">
            {{ getEmailErrorMessage() }}
          </mat-error>
        </mat-form-field>
        <mat-form-field style="min-width: 80%;">
          <input matInput type="password" placeholder="Password" [formControl]="passwordFormControl">
          <mat-error *ngIf="passwordFormControl.invalid">
            {{ getPasswordErrorMessage() }}
          </mat-error>
        </mat-form-field>
        <mat-form-field style="min-width: 80%;">
          <input matInput type="password" placeholder="Repeat password" [formControl]="repeatPasswordFormControl">
          <mat-error *ngIf="repeatPasswordFormControl.invalid">
            {{ getRepeatPasswordErrorMessage() }}
          </mat-error>
        </mat-form-field>
        <mat-form-field style="min-width: 80%;">
          <input matInput placeholder="SteamID"  [formControl]="steamIdFormControl">
          <mat-error *ngIf="steamIdFormControl.invalid">
            {{ getSteamIdErrorMessage() }}
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" style="min-width: 80%;">
          Stwórz konto
        </button>
      </form>
    </div>
  </mat-card>
</div>